@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

/*global style text-input*/
label.mdc-text-field.mdc-text-field--filled.mdc-ripple-upgraded {
  width: 100%;
  border-radius: 0;
  border-bottom: 0;
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: none;
    .mdc-line-ripple::before {
      border-bottom-width: 0px !important;
      z-index: 1;
    }
  }
}
.mdc-text-field--filled {
	  width: 100%;
    border-radius: 0px !important;
    border-radius: 4px !important;
	.mdc-line-ripple {
		visibility: hidden;
		border-radius: 0px;
	}
	.mdc-floating-label--float-above {
		transform: translateY(-87%) scale(0.75) !important;
		color: #14b8a6 !important;
	}
    .mdc-line-ripple::before, .mdc-line-ripple::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-style: none !important;
    content: unset !important;
  }
  span.mdc-floating-label {
    font-size: 14px;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: whitesmoke;
  height: 45px !important;
  border-radius: 4px !important;
}
.mdc-text-field .mdc-text-field__input {
	caret-color: #9ca3af !important;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: gray !important;
  position: relative;
  bottom: 5px;
  font-size: 14px !important;
}

.mdc-checkbox {
  margin: calc((var(--mdc-checkbox-touch-target-size, 20px) - 40px) / 2) !important;
}

button.material-icons.mdc-icon-button.mdc-icon-button--display-flex.mdc-ripple-upgraded--unbounded.mdc-ripple-upgraded {
  position: relative;
  bottom: 17px;
  font-size: 14px;
}
label.mdc-text-field.mdc-text-field--filled.mdc-text-field--invalid.mdc-ripple-upgraded {
  border: 1px solid rgb(176, 0, 32);
}
p.invalid{
  color: rgb(176, 0, 32) !important;
  position: relative !important;
  top: 10px !important;
}



