@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-text-field--filled {
	width: 100%;
    height: 56px;
    border-radius: 0px !important;
    border: 1px solid #d1d5db ;
	.mdc-line-ripple {
		visibility: hidden;
		border-radius: 0px;
	}
	.mdc-floating-label--float-above {
		transform: translateY(-106%) scale(0.75) !important;
		color: #14b8a6 !important;
	}
}
.mdc-text-field .mdc-text-field__input {
	caret-color: #9ca3af !important;
}
.invalid-message{
	position: absolute !important;
    display: flex;
    gap: 5px;
}
.mdc-text-field--invalid{
	border: 1px solid #fca5a5;
}
.mdc-text-field--label-floating{
	border: 1px solid #2dd4bf;
}

