.filled {
	background-color: white !important;
	border-radius: 0px !important;
	height: 50px;
	font-size: 16px;
}

.s-text-field__wrapper:after,
.s-text-field__wrapper:before {
	border-radius: unset !important;
	width: inherit !important;
	content: none !important;
}

.dense {
	min-height: 55px !important;
	margin-bottom: 0px;
}

.s-input__details {
	position: absolute !important;
	top: 77px !important;
	left: 14px !important;
	color: red;
}

.s-input.dense .s-input__slot {
	margin-bottom: 0px !important;
}

.error {
	border: 1px solid red;
}

.primary-text {
	color: #707275 !important;
	caret-color: #707275 !important;
	border: 1px solid #9e9e9e !important;
}

.dark .filled {
	background-color: transparent !important;
	border-radius: 0px !important;
	height: 50px;
	font-size: 16px;
}

.dark .primary-text {
	color: #707275 !important;
	caret-color: #707275 !important;
	border: 1px solid #4c4f52 !important;
}

.s-menu {
	left: 0px;
	transform-origin: left top;
	z-index: 8;
	position: absolute;
	top: 55px !important;
	background: white;
	border: unset !important;
}
