.light-pagination-nav .pagination-nav {
    display: flex;
    justify-content: right !important;
    box-shadow: 0 1px 2pxrgba(0, 0, 0, 0.3) !important;
    padding: 5px 20px !important;
    border-top: 1px solid rgba(213, 214, 215) !important;
    border-radius: 0px !important;
}

.dark .light-pagination-nav .pagination-nav {
    display: flex;
    justify-content: right !important;
    box-shadow: 0 1px 2pxrgba(0, 0, 0, 0.3) !important;
    padding: 5px 20px !important;
    border-top: 1px solid #4c4f52 !important;
    border-radius: 0px !important;
    background-color: #1a1c23 !important;
}