.s-input__control{
    @apply bg-fill-light-field border border-separator-light dark:bg-fill-dark-field dark:border-separator-dark h-[55px] rounded-sm;
}
.s-text-field__wrapper:after {
    background-color: unset !important;
    border-color: unset !important;
    border-style: unset !important;
    border-width: unset !important;
    transform: scaleX(0);
}
.s-text-field__wrapper:before {
    border: unset !important;
    border-width: unset !important;
}
.s-input.s-text-field.s-qvNCBL3LngMt.error-text.error{
    @apply border border-other-error rounded-sm;
}
.s-menu.s-g1C_g24vBBl5 {
    top: 63px !important;
    @apply bg-main-light dark:bg-main-dark
}