/* pagination */
.light-pagination-nav .pagination-nav {
    position: relative !important;
    top: 60vh !important;
    display: flex;
    justify-content: right !important;
    box-shadow: unset !important;
    padding: 5px 20px !important;
    border-top: 1px solid transparent !important;
    border-radius: 0px !important;
    background: #071b23 !important;
    color: white;
  }