.pagination-nav {
  @apply flex items-center justify-end py-3 gap-5;
}
span.option.number.active{
  color: blue !important;
}
span.option.number {
  width: 24px !important;
  height: 24px !important;
}