/* pagination */
.light-pagination-nav .pagination-nav {
    display: flex;
    justify-content: right !important;
    box-shadow: unset !important;
    padding: 5px 20px !important;
    border-top: 1px solid rgba(213, 214, 215) !important;
    border-radius: 0px !important;
  }