@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./input.scss');


*body {
	font-family: 'Sofia Pro', sans-serif !important;
	font-size: 14px !important;
	line-height: 18px !important;
}