@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blog {
	@apply bg-blue-500;
}

.primary {
	@apply text-purple-100 bg-purple-600;
}

.secondary {
	@apply text-gray-100 bg-gray-500;
}

.success {
	@apply text-green-100 bg-green-600;
}

.danger {
	@apply text-red-100 bg-red-600;
}

.warning {
	@apply text-orange-100 bg-orange-600;
}

.info {
	@apply text-blue-100 bg-blue-600;
}

.light {
	@apply text-gray-700 bg-white;
}

.dark {
	@apply text-gray-100 bg-gray-700;
}

/*Global text-Input*/

.main-input {
	background-color: red;
	height: 5vh;
	border-bottom: 15px;
	border: 1px solid #4c4f52;
	line-height: 18px;
	input {
		color: #fff !important;
		padding-top: 28px;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
	}
	label {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: #7a869a !important;
		position: absolute;
		top: 18px;
		transition-duration: 0.2s;
	}
	label.active {
		color: #0496ac !important;
	}
}
.dark .main-input {
	background-color: #1a1c23;
	height: 5vh;
	border-bottom: 15px;
	border: 1px solid #4c4f52;
	line-height: 18px;
	input {
		color: #fff !important;
		padding-top: 28px;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
	}
	label {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: #7a869a !important;
		position: absolute;
		top: 18px;
		transition-duration: 0.2s;
	}
	label.active {
		color: #0496ac !important;
	}
}
.s-text-field__wrapper:after,
.s-text-field__wrapper:before {
	border-radius: unset !important;
	width: inherit !important;
	content: none !important;
}
.s-input__details {
	position: relative !important;
	left: 14px !important;
	bottom: 6px !important;
}
.s-input__control {
	height: 6vh !important;
}
.error-text {
	color: #f44336 !important;
	caret-color: #f44336 !important;
}

//tabel-custum
table{
    width: 100%;
	position: sticky;
	z-index: 1;
}

//dropdown
.dropdown{
	.s-menu {
		background: white;
		border-radius: 0;
		position: absolute;
		margin-top: 52px;
	}
	label {
		margin-top: -7px;
	}
	input{
		margin-top: -12px !important;
	}
	span{
		color: white;	
	}
	i{
		margin-top: -15px;
	}
}

.dark .pagination-nav {
	display: flex;
	justify-content: right;
	// background: #1a1c23;
	border-radius: 3px;
	// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	.option{
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s all ease-out;
		user-select: none;
		color: hsl(200, 90%, 90%);
		.number .option.ellipsis{
			padding: 10px 15px;
		}
		:hover{
			background: #000;
			cursor: pointer;
		}
	}
	.active{
		color: hsl(200, 70%, 50%);
	}
	path{
		fill: hsl(200, 90%, 90%);
	}
}